<div class='conteiner w-sm-50'>
  <div class='row justify-content-center'>
    <div class='col-md-6 shadow-sm text-main bg-sub-color-gray p-5 my-sm-5'>
      <div class='mb-5'>
        <h3 class='col-auto'><span class='display-5'>| </span>アカウント情報</h3>
      </div> 
      <div class='row mb-5'>
        <div class='col-sm-4'><%= t('activerecord.attributes.user.name') %></div>
        <div class='col-sm-8'><%= @user.name %></div>
      </div>
      <div class='row mb-5'>
        <div class='col-sm-4'><%= t('activerecord.attributes.user.email') %></div>
        <div class='col-sm-8'><%= @user.email %></div>
      </div>
      <div class='row mb-5'>
        <div class='col-sm-4'><%= t('activerecord.attributes.user.password') %></div>
        <div class='col-sm-8'>xxxxxxxx</div>
      </div>
        <% if !(session[:guest] == 'guest_user') %>
          <div class='d-grid col-12 mx-auto'>
            <%= link_to '変更する　＞', edit_user_path(@user), class: 'btn-primary-green' %>
          </div>
        <% end %>
    </div>
  </div>
</div>
