<% posts.each do |post| %>
  <div class='container'>
    <div class='row mb-3 mb-sm-5 shadow-sm p-4'>
      <div class='col-lg-7'>
        <div class='row mb-sm-3'>
          <div class='col-1 fs-1'>
            <i class='bi bi-person-circle'></i>
          </div>
          <div class='col-11 text-user-name'>
            <div><%= post.user.name %></div>
            <div><%= post.updated_at %></div>
          </div>
        </div>
        <div class='mb-sm-3'>
          <div class='fs-3'>
            <% if defined?(my_posts) %>
              <%= link_to post.title, my_post_path(post), class: 'link-text text-main' %>
            <% else %>
              <%= link_to post.title, post_path(post), class: 'link-text text-main' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class='col-lg-5'>
        <%= image_tag post.photo.variant(resize_to_limit: [nil, 400]), class: 'img-fluid' if post.photo.attached? %>
      </div>
      <div class='mt-3'>
        <span id="like-<%= post.id %>"><% p "test" %><% p post %><%= render partial: 'shared/like', locals: { post: post } %></span>
        <span class='me-sm-1'><i class='bi bi-hash'></i><%= post.baseball_team.name %></span>
        <span class='me-sm-1'><i class='bi bi-hash'></i><%= post.baseball_park.name %></span>
        <span class='me-sm-1'><i class='bi bi-hash'></i><%= post.category.name %></span>
      </div>
    </div>
  </div>
<% end %>
<%= paginate posts, theme: 'bootstrap-5' %>
