<div class='conteiner'>
  <div class='row justify-content-center'>
    <div class='col-sm-8 shadow-sm text-main bg-sub-color-gray p-5 mt-sm-5 mb-3'>
      <div class='mb-sm-4'> 
        <h3 class='col-auto'><span class='display-5'>| </span><%= t('activerecord.models.game') %></h3>
      </div>
      <div class='row justify-content-center mb-sm-3 text-center'>
        <div class='col-sm-5 shadow-sm p-3 p-sm-5 mb-2 m-sm-4 <%= @game.result %>-team'>
          <div class='text-center game-<%= @game.result %>'><%= t('activerecord.attributes.game.home_team') %></div>
          <div class='mb-2'><%= @game.home_team.name %></div>
          <div class='number-size'><%= @game.home_team_score %></div>
        </div>
        <div class='col-sm-5 shadow-sm p-3 p-sm-5 mb-2 m-sm-4 <%= @game.away_result %>-team'>
          <div class='game-<%= @game.away_result %>'><%= t('activerecord.attributes.game.away_team') %></div>
          <div class='mb-2'><%= @game.away_team.name %></div>
          <div class='number-size'><%= @game.away_team_score %></div>
        </div>
      </div>
      <div class='row justify-content-center'>
        <div class='col-sm-5 px-1 px-sm-5 mx-sm-4 mb-2 mb-sm-5 text-center'>
          <div class='game-draw'><%= t('activerecord.attributes.game.date') %></div>
          <div class='mb-2'><%= l @game.date, format: :date %></div>
        </div>
        <div class='col-sm-5 px-1 px-sm-5 mx-sm-4 mb-2 mb-sm-5 text-center'>
          <div class='game-draw'><%= t('activerecord.attributes.game.baseball_park') %></div>
          <div class='mb-2'><%= @game.baseball_park.name %></div>
        </div>
        <div class='row mb-5'>
          <div class='col-sm-2'><%= t('activerecord.attributes.game.memo') %></div>
          <div class='col-sm-8'><%= @game.memo %></div>
        </div>
        <div class='row justify-content-center my-sm-5'>
          <%= link_to "一覧に戻る", games_path, class: 'btn-primary-gray col-sm-3 mb-1 mx-sm-1' %>
          <%= link_to "変更する", edit_game_path(@game), class: 'btn-primary-green col-sm-3 mb-1 mx-sm-1' %>
          <%= link_to "削除する", game_path(@game), method: :delete, class: 'btn-primary-red col-sm-3 mb-1 mx-sm-1' %>
        </div>
      </div>
    </div>
  </div>
</div>
