<div class='container shadow-sm w-50 p-5 text-main bg-sub-color-gray my-5'>
  <div class='mb-5'> 
    <h3 class='col-auto'><span class='display-5'>| </span><%= @post.title %></h3>
  </div> 
  <div class='mb-5'>
    <%= @post.content %>
  </div>
  <div>
    <span class='me-1'><i class="bi bi-heart text-main-red fs-4"></i></span>
    <span class='me-1'><i class="bi bi-hash"></i><%= @post.baseball_team.name %></span>
    <span class='me-1'><i class="bi bi-hash"></i><%= @post.baseball_park.name %></span>
    <span class='me-1'><i class="bi bi-hash"></i><%= @post.category.name %></span>
  </div>
</div>
