<div>
  <div class='bg-image'>
    <div class='bg-color-clear h-100'>
      <div class='container p-3 p-sm-5'>
        <div class='row text-center mb-3 mb-sm-5'>
          <h1 class='top-page-title mb-3 mb-sm-5'>Baseball Memory</h1>
          <h4 class='top-page-sub-text'>
            プロ野球の観戦記録をつけることができます。<br>
            たくさん野球を観戦して自分の観戦記録や思い出をつけてみよう！
          </h4>
        </div>
        <% if logged_in? %>
          <div class='row mx-auto mb-sm-5 justify-content-evenly'>
            <%= link_to '思い出を投稿する', new_post_path, class: 'btn-second-green col-lg-4 mb-1' %>
            <%= link_to '観戦記録をつける', new_game_path, class: 'btn-second-green col-lg-4 mb-1' %>
          </div>
        <% else %>
          <div class='row mx-auto mb-sm-3 justify-content-evenly'>
            <%= link_to '新規登録して観戦記録をつける', new_user_path, class: 'btn-primary-green-sizeup col-lg-4 mb-1' %>
          </div>
          <div class='row mx-auto mb-sm-3 justify-content-evenly'>
            <%= link_to 'ログインはこちら', login_path, class: 'btn-second-green col-lg-4 mb-1' %>
            <%= link_to 'ゲストログインはこちら', login_path(guest_login: true), method: :post, class: 'btn-second-green col-lg-4 mb-1' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='conteiner'>
    <div class='row justify-content-center'>
      <div class='col-xl-10 shadow-sm text-main bg-sub-color-gray p-5 my-sm-5'>
        <div class='mb-sm-5'> 
          <h3 class='col-auto'><span class='display-5'>| </span>利用イメージ</h3>
          <div class='top-page-green'>
            <div class='m-2 m-sm-5 text-center'>プロ野球の試合の観戦記録を登録すると、</div>
            <div class='m-2 m-sm-5 text-center'>あなたが観戦した試合の勝率や連勝記録などを確認することができます。</div>
            <div class='m-2 m-sm-5 row justify-content-center'>
              <span class='col-12 col-lg-5 text-center'>あなたは<span class='mx-sm-3 top-page-red'>幸運</span>の持ち主？</span>
              <span class='col-12 col-lg-5 text-center'>それとも<span class='mx-sm-3 top-page-blue'>不幸</span>の持ち主？</span>
            </div>
          </div>
          <div class='d-flex flex-column'>
            <div><%= image_tag('top-image-1.jpg', class: 'w-100') %></div>
            <div><%= image_tag('top-image-2.jpg', class: 'w-100') %></div>
            <div><%= image_tag('top-image-3.jpg', class: 'w-100') %></div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
